@import '../../scss/index.module.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  color: $color-blue;

}

.link {
  margin: 10px 10px;
  text-align: center;
  margin: auto 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  line-height: 1.43;
  font-size: rem(13);
  cursor: pointer;
}

.space {
  margin: 20px 0;
}

.page {
  margin: 10px 10px;
  z-index: 3;
  color: $color-blue;
  background-color:  transparent;
  border-color: transparent;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active {
  z-index: 3;
  color: $color-white;
  background-color:  $color-blue;
  border-color: $color-blue;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}