@import "../../scss/index.module.scss";

/**
* https://github.com/microsoft/fluentui/issues/15256
*/

.ms-Toggle-root {
  & :global .ms-Toggle-label {
    font-size: rem(20);
    text-transform: uppercase;
    margin-bottom: 15px;
    @include font-title-h4;
    color: $color-blue;
    padding: 0;
  }

  & :global .ms-Toggle-innerContainer {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: rem(27);

    & :global .ms-Toggle-background {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid $color-medium-gray;
      background-color: $color-medium-gray;
      padding: 14px 8px;
      order: 1;

      & :global .ms-Toggle-thumb {
        background-color: #fff;
        height: 25px;
        width: 25px;
      }
    }

    & :global .ms-Label {
      margin-right: 8px;
      margin-left: 0px;
      @include font-label;
      color: $color-blue;
    }
  }
}
