@import '../../scss/index.module.scss';

.home {
  width: 100vw;
  min-height: 900px;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    margin: 50px 20px 0 20px;

    .filter-sidebar-container {
      margin-right: 60px;
    }

    .button-filters-container {
      margin-bottom: 20px;
    }

    .paginated-list-container {
      @media screen and (max-width: 1280px) {
        width: 830px;
      }
    }

    @media screen and (max-width: 1179px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .filter-sidebar-container {
        margin-right: 0px;
      }
    }

    @media screen and (max-width: 830px) {
      .filter-sidebar-container {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .paginated-list-container {
        width: 100%;
      }
    }
  }

  .ms-Button {
    width: 100px;
    height: 48px;
    border: 2px solid $color-medium-gray;
    color: $color-blue;
    text-transform: uppercase;
    @include font-title-h4;
    border-radius: 10px ;

    &:hover {
      background-color: $color-white;
      color: $color-blue;
    }
  }
}




