@import "../../scss/index.module.scss";

.paginated-list {
  min-height: 630px;
  width: 830px;
  background-color: $color-light-gray;
  display: flex;
  flex-direction: column;

  &.is-fluid {
    width: 100%;
  }

  .list-items {
    display: grid;
    grid-template-columns: 24.08% 59.74% 16.18%;
    grid-template-rows: 67px repeat(5, minmax(70px, auto));
    min-height: 526.5px;
    padding: 0 4.22%;
    row-gap: 21.5px;

    &.is-fixed {
      grid-template-columns: 183px 454px 123px;
    }

    @media screen and (max-width: 830px) {
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 67px repeat(5, 1fr);
    }

    .pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 103px;
    }
  }
}
